/* Styling for elements initially hidden */
.fade-in-view {
    opacity: 0;
}

/* Animation for elements to fade in */
.fade-in-view-active {
    animation: fadeInAnimation ease 2s forwards;
}

/* Keyframes for fade-in animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
