/* Smooth transition for transform, box-shadow, and background-color */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.6s ease;
  }
  
  /* Hover effect for card */
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  /* Smooth transition for transform and box-shadow */
  .growOnHover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect for growOnHover class */
  .growOnHover:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  /* Smooth transition for transform and box-shadow */
  .resumeImage {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect for resumeImage class */
  .resumeImage:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  