/* Styling for elements sliding in from the bottom */
.slide-in-bottom {
    opacity: 0;
  }
  
  /* Animation for elements sliding in from the bottom */
  .slide-in-bottom-active {
    animation: slideInFromBottom 2s ease forwards;
  }
  
  /* Keyframes for sliding animation from the bottom */
  @keyframes slideInFromBottom {
    from {
      opacity: 0;
      transform: translateY(200%);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  