
.slide-in-left{
    opacity:0;
}
.slide-in-left-active {
    animation: slideInFromLeft 2s ease forwards;
}

@keyframes slideInFromLeft {
    from {
        opacity:0;
        transform: translateX(200%);
    }

    to {
        opacity:1;
        transform: translateX(0);
    }
}

