.titleSection h6 {
    opacity: 0;
    animation: fadeInFromLeft 2s ease forwards;
}

.titleSection h5 {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.titleSection h5 {
    animation-delay: 1.2s;
    /* Add a 2-second delay before starting the animation */
}

/* Animation for paragraph sliding from right to left */
.slideInLeft {
    animation: slideInLeft 2s ease forwards;
}

/* Animation for paragraph sliding from right to left */
.fadeIn {
    animation: fadeIn 3s ease forwards;
}
/* Animation for paragraph sliding from right to left */
.fadeIn {
    animation-delay: 2s;
}


/* Keyframes for sliding animation */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}