body{
    font-family: 'Libre Franklin', sans-serif;
}



.img-fluid {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
}


@media (max-width: 576px) { /* Small devices (576px and below) */

    .display-4 {
        font-size: 2rem; /* Adjust font size for small screens */
    }
    .underText{
        font-size: 1rem
    }
    .firstColPictures{
        margin-bottom:-65px;
    }
    .date{
        transform:translateY(50%)
    }
    .titleSection{
        margin-top:-50px;
    }
}
