.line-below {
    border-bottom: 1px solid #9D231B; /* Adjust color and style as needed */
}

.custom-box {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #DDD1C7; /* Adjust color to blend with line */
}


.link {
    color:#9D231B;
}

.link:hover {
    color: #8D201B;
}

.custom-button {
    width: 30%;
    height: 50px;
    font-weight: 400;
    color: white;
    background-color: #9D231B; /* Background color */
    border-color: #9D231B; /* Border color */
}

.custom-button:hover {
    background-color: #8D201B; /* Change background color on hover */
    border-color: #8D201B; /* Change border color on hover */
    color: white;
}

@media (max-width: 576px) { /* Small devices (576px and below) */
    .display-4 {
        font-size: 2rem; /* Adjust font size for small screens */
    }
    .underText{
        font-size: .8rem
    }
    .date{
        padding-top:20px;
    }
    .titleSection{
        margin-top:-50px;
    }
}

