.img-fluid {
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fadeIn{
    opacity:0;
}

.link {
    color:#9D231B;
}

.link:hover {
    color: #8D201B;
}

.custom-button {
    width: 30%;
    height: 50px;
    font-weight: 400;
    color: white;
    background-color: #9D231B; /* Background color */
    border-color: #9D231B; /* Border color */
}

.custom-button:hover {
    background-color: #8D201B; /* Change background color on hover */
    border-color: #8D201B; /* Change border color on hover */
    color: white;
}

@media (max-width: 576px) { /* Small devices (576px and below) */
    .display-4 {
        font-size: 2rem; /* Adjust font size for small screens */
    }
    .underText{
        font-size: .8rem
    }
    .date{
        padding-top:20px;
    }
    .titleSection{
        margin-top:-50px;
    }
}