body{  
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    padding-top:80px;
    padding-bottom:130px;
}

/* Custom CSS for taller input boxes */
.tall-input {
    height: 50px; /* Adjust the height as needed */
}

.line-below {
    border-bottom: 1px solid #dee2e6; /* Adjust color and style as needed */
}

.custom-box {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #dee2e6; /* Adjust color to blend with line */
}
