/* Styles for resume */
body {
    font-family: 'Libre Franklin', sans-serif;
}

/* Font size 67px */
.fs-67 {
    font-size: 67px;
}

/* Font size 20px */
.fs-20 {
    font-size: 20px;
}

/* Line height 1.1 */
.lh-110 {
    line-height: 1.1;
}

/* Custom CSS for taller input boxes */
.tall-input {
    height: 50px;
}

/* Line below style */
.line-below {
    border-bottom: 1px solid #9D231B;
}

/* Custom box style */
.custom-box {
    background-color: #fbfbfb;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #9D231B;
}

/* Form control for tall input */
.form-control.tall-input {
    border-color: #9D231B;
}

/* Submit button style */
.custom-button {
    width: 30%;
    height: 50px;
    font-weight: 400;
    color: #fbfbfb;
    background-color: #9D231B;
}

/* Hover effect for submit button */
.custom-button:hover {
    background-color: #8D201B;
    color: #fbfbfb;
}

/* Hover effect for submit button border */
.custom-button:hover {
    background-color: #8D201B;
    border-color: #8D201B;
}

/*When the screen is small, the title section is adjusted accordingly*/
@media (max-width: 576px) { 
    .topText {
        font-size: 3rem;
    }
    .underText{
        font-size: 1.2rem
    }
    .custom-box{
        margin-bottom:40px;
    }
}

