body{  
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    padding-top:80px;
    padding-bottom:130px;
}

/* Custom CSS for taller input boxes */
.tall-input {
    height: 50px; /* Adjust the height as needed */
}

.line-below {
    border-bottom: 1px solid #DDD1C7; /* Adjust color and style as needed */
}

.custom-box {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #DDD1C7; /* Adjust color to blend with line */
}

.form-control.tall-input {
    border-color: #DDD1C7; /* Desired border color */
}

.custom-button {
    width: 50%;
    height: 50px;
    font-weight: 400;
    color: white;
    background-color: #8DB580; /* Background color */
    border-color: #8DB580; /* Border color */
}

.custom-button:hover {
    background-color: #7c9d6e; /* Change background color on hover */
    border-color: #7c9d6e; /* Change border color on hover */
}

.col-md-4 {
    height: 100%; /* Ensure the column takes up the full height */
}

.col-md-4 img {
    max-width: 100%; /* Ensure the image doesn't exceed the column width */
}
