body{
    font-family: 'Libre Franklin', sans-serif;
}

.card {
    background-image: none;
    background-color: transparent; /* Add this line to make the background transparent */
}


.text-black {
    color: black;
}

.btn-outline-dark {
    width: 100%; /* Makes button width consistent */
    border-radius: 0 0 10px 10px; /* Optional: matches the card's bottom border radius */
}

.custom-button {
    color: white; /* Text color */
    background-color: #8DB580; /* Background color */
    border-color: #8DB580; /* Border color */
}

.custom-button:hover {
    background-color: #7c9d6e; /* Change background color on hover */
    border-color: #7c9d6e; /* Change border color on hover */
    color:white
}
