/* Styles for resume */
body {
    font-family: 'Libre Franklin', sans-serif;
}

/* Font size 67px */
.fs-15 {
    font-size: 15px;
}



/* for smaller screens */
@media (max-width: 576px) { 
    .topTitle {
        font-size: 1.5rem;
    }
}