/* resume.css */
body {
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:30px;
    padding-bottom:30px
}

.btn {
    background-color: #fbfbfb;
    color:#343330; 
    border:1px solid #343330"
}

.btn:hover {
    background-color: #343330;; /* Highlight background on hover */
    color: #fbfbfb; /* White text on hover */
    border: 1px solid  #fff
}

.resume-img {
    max-width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
}
