/* Styles for resume */
body {
    font-family: 'Libre Franklin', sans-serif;
}

/* Font size 24px */
.fs-24 {
    font-size: 24px;
}

/* Button styles */
.btn {
    background-color: #fbfbfb;
    color: #343330;
    border: 1px solid #343330;
}

/* Hover effect for buttons */
.btn:hover {
    background-color: #343330;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
}
