/*Global classes*/
body{  
    font-family: 'Libre Franklin', sans-serif;
}


/*Font size 15*/
.fs-15{
    font-size:15px;
}


/*Underline Code*/
.font-underline{
    text-decoration: underline;
}

/*For smaller screens*/
@media (max-width: 576px) { 
    .display-4 {
        font-size: 2rem;
    }
    .underText{
        font-size: .8rem
    }
    .date{
        padding-top:20px;
    }
    .titleSection{
        margin-top:-50px;
    }
}