/* Adjusting the column settings */
.col-md-4 {
    /* width: 33.33%; Bootstrap's .col-md-4 class already handles the width, so you might not need this line */
    padding: 0 15px; /* Adjust the padding as needed */
}

.col-md-4 img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image fills the container but maintains aspect ratio */
}

.card {
    height: 525px; /* Adjust this value to your desired fixed height */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    max-width: 1000px; /* Adjust based on your design preference */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Center text content inside the card */
.card-body {
    text-align: center;
}
.card-title{
    font-size:20px;
    font-weight:500
}

.card-text{
    font-size:12px;
    font-weight:300
}

/* Center the image inside the card */
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto; /* Adjust this as needed, e.g., 80% to make the image smaller */
    max-width: 100%; /* Ensures the image is never larger than the card */
    height: auto; /* Maintains aspect ratio */
}
