/* Base styles for the whole page */
body {
    font-family: 'Libre Franklin', sans-serif;
}

/* Footer styling */
footer {
    background-color: #343330;
    color: #fbfbfb;
    padding: 40px 20px;
}

/* Font size 16px */
.fs-16 {
    font-size: 16px;
}

/* Font size 12px */
.fs-12 {
    font-size: 12px;
}

/* Font size 15px */
.fs-15 {
    font-size: 15px;
}

/* Social icons styling */
.footerCurrent .social-icons a {
    margin: 0 15px;
    color: #fbfbfb;
    font-size: 20px;
    transition: color 0.2s ease, transform 0.2s ease;
}

/* Hover effect for social icons */
.footerCurrent .social-icons a:hover {
    color: #dbdbdb;
    transform: scale(5.1);
}

/* Name and copyright text styling */
.footerCurrent .name,
.footer-container .copyright {
    font-size: 16px;
    margin-top: 15px;
    transition: color 0.2s ease;
}

/* Share buttons styling */
.share-icons .btn {
    background-color: #fbfbfb;
    color: #343330;
    margin: 5px;
    transition: background-color 0.2s, color 0.2s;
}

/* Hover effect for share buttons */
.share-icons .btn:hover {
    background-color: #343330;
    color: #fbfbfb;
}

/* Copy button styling */
.copyButton {
    color: #343330;
    background-color: #fbfbfb;
}

/* Hover effect for copy button */
.copyButton:hover {
    background-color: #343330;
    border: 1px solid #fbfbfb;
}

/* Modal customization */
#shareModal .modal-content {
    background-color: #343330;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Modal backdrop styling */
#modalBackdrop {
    background-color: rgba(12, 12, 12, 0.4);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

/* Transition effects for modal and modal backdrop */
#shareModal,
#modalBackdrop {
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

/* Transition effect for modal dialog */
#shareModal .modal-dialog {
    transition: transform 0.3s ease-in-out;
}

/* Centered modal dialog */
.modal-dialog-centered {
    opacity: 1;
    transform: scale(1);
}
