/*The whole page has the characteristics below*/
body{
    font-family: 'Libre Franklin', sans-serif;
}

/* Base styles */
.navbar {
    background-color: #343330;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
}

/* Text color style */
.text-fb {
    color: #fbfbfb;
}

/* Font size style */
.fs-15 {
    font-size: 15px;
}

/* Navbar brand style */
.navbar-brand {
    font-size: 28px;
    font-weight: 600;
    color: #fbfbfb;
    transition: color 0.3s ease;
}

/* Navbar link style */
.nav-link {
    font-size: 15px;
    font-weight: 400;
    color: #fbfbfb;
    margin-right: 25px;
    transition: color 0.3s ease;
}

/* Hover effect for navbar links */
.nav-link:hover,
.nav-link:focus {
    color: #fbfbfb;
    text-decoration: none;
}

/* Navbar toggler style */
.navbar-toggler {
    border-color: #fbfbfb;
}

/* Active link style */
.nav-link.active {
    font-weight: bold;
    color: #fbfbfb;
}

/* Active dropdown item style */
.dropdown-item.active {
    color: #fbfbfb;
    font-weight: bold;
    background-color: #343330;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: #555;
}

/* Active nav item style */
.nav-item.active .nav-link {
    color: #fbfbfb;
    background-color: #fbfbfb;
    border-radius: 5px;
}

/* Custom toggler styles */
.custom-toggler {
    border-color: #fbfbfb;
    border: none;
}

/* Custom toggler icon */
.custom-toggler .navbar-toggler-icon {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Focus style for custom toggler */
.custom-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-nav .nav-link {
        padding: 0.5rem .1rem;
    }
}
